*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg,black,gray);
    height: 100vh;
    place-items: center;
    display:grid
}

section{
    display: grid;
    place-items: center;
    height: 100vh;
}

h1{
    font-size: 652%;
    text-transform: uppercase;
    color: darkmagenta;
    text-shadow: 4px 4px #000;
}

.rlg{
    background-color: rgb(18, 98, 163);
    width: 90%;
    padding: 3% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background: transparent;
    box-shadow: blueviolet;
}

.rlg div{
    background-color: darkmagenta;
    color: #ffff;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
    margin: 2%;
    border-radius: 7px;
    box-shadow: greenyellow;
    font-family: Fonte LC;
}

.rlg span{
    font-size: 4rem;
}

.rlg span.tempo{
    font-size: 1rem;
}

@font-face {
    font-family: Fonte LC;
    src: url(Open\ 24\ Display\ St.ttf);
}